
/* HEADER */
header{
    height: auto;
    padding: .625rem;
}
header i{
    font-size: 14px;
    color: grey;
}
.fa-bell{
    color: orange;
}
.ms-logo-big{
    max-width: 150px;
}
.ms-logo-small{
    max-width: 50px;
}

#search-bar{
    background-color: lightgray;
    border: none;
}

